* { 
    margin:0; 
    padding:0; 
}

html, body {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}

#gui {
    height: 10%;
}

#gui > div {
    height: 100%;
}

/* game bar */

.game-bar > div {
    display: inline-block;
}

.structure-wrap {
    width: 40%;
    background-color: red;
}

.upgrades-btn {
    width: 5%;
    background-color: green;
}

.elevation-wrap {
    width: 2%;
    background-color: brown;
}

.missiontime-wrap {
    width: 10%;
    background-color: blue;
}

.player-values {
    width: 20%;
}

.game-state-btn {
    width: 5%;
}

.game-state-btn > button {
    /* width: 2px; */
    display: block;
}

.extra-btn {
    width: 10%;
}

.extra-btn > button {
    display: block;
}